In [7]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [8]:
spark = SparkSession.builder \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/30 07:03:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
import requests

def download_file(url, save_path):
    try:
        response = requests.get(url)
        if response.status_code == 200:
            with open(save_path, 'wb') as file:
                file.write(response.content)
            print(f"File downloaded successfully and saved as {save_path}")
        else:
            print(f"Error downloading file. Status code: {response.status_code}")
    except Exception as e:
        print(f"Error downloading file: {e}")

In [6]:
for month in range(1, 13):
    yellow_taxi_saved = f"yellow-2021-{month}.parquet"
    green_taxi_saved = f"green-2021-{month}.parquet"

    if month < 10:
        yellow_taxi_url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-0{month}.parquet"
        green_taxi_url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-0{month}.parquet"
    else:
        yellow_taxi_url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-{month}.parquet"
        green_taxi_url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2021-{month}.parquet"
    
    download_file(yellow_taxi_url, yellow_taxi_saved)
    download_file(green_taxi_url, green_taxi_saved)

File downloaded successfully and saved as yellow-2021-1.parquet
File downloaded successfully and saved as green-2021-1.parquet
File downloaded successfully and saved as yellow-2021-2.parquet
File downloaded successfully and saved as green-2021-2.parquet
File downloaded successfully and saved as yellow-2021-3.parquet
File downloaded successfully and saved as green-2021-3.parquet
File downloaded successfully and saved as yellow-2021-4.parquet
File downloaded successfully and saved as green-2021-4.parquet
File downloaded successfully and saved as yellow-2021-5.parquet
File downloaded successfully and saved as green-2021-5.parquet
File downloaded successfully and saved as yellow-2021-6.parquet
File downloaded successfully and saved as green-2021-6.parquet
File downloaded successfully and saved as yellow-2021-7.parquet
File downloaded successfully and saved as green-2021-7.parquet
File downloaded successfully and saved as yellow-2021-8.parquet
File downloaded successfully and saved as green-2021-8.parquet
File downloaded successfully and saved as yellow-2021-9.parquet
File downloaded successfully and saved as green-2021-9.parquet
File downloaded successfully and saved as yellow-2021-10.parquet
File downloaded successfully and saved as green-2021-10.parquet
File downloaded successfully and saved as yellow-2021-11.parquet
File downloaded successfully and saved as green-2021-11.parquet
File downloaded successfully and saved as yellow-2021-12.parquet
File downloaded successfully and saved as green-2021-12.parquet

In [17]:
df_green = spark.read.parquet('green-taxi/*')
df_yellow = spark.read.parquet('yellow-taxi/*')

In [18]:
df_yellow.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [19]:
df_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- lpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [20]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

df_yellow.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- pickup_datetime: timestamp_ntz (nullable = true)
 |-- dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [21]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

df_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- pickup_datetime: timestamp_ntz (nullable = true)
 |-- dropoff_datetime: timestamp_ntz (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [22]:
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

print(common_columns)

['VendorID', 'pickup_datetime', 'dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'payment_type', 'congestion_surcharge']

In [23]:
# Create a new column in the green df with value green for all rows so that these records can be distinguished from the yellow df when we join
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [24]:
# Same as above but for the yellow df 
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [27]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [28]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 1068755|
|      yellow|30904308|
+------------+--------+

In [30]:
df_trips_data.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- pickup_datetime: timestamp_ntz (nullable = true)
 |-- dropoff_datetime: timestamp_ntz (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- service_type: string (nullable = false)

In [32]:
# Create a temporary table with spark so we can query the combined dataframe using sql
df_trips_data.createOrReplaceTempView ('trips_data')

In [33]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 1068755|
|      yellow|30904308|
+------------+--------+

In [34]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [35]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          77|2021-11-01 00:00:00|       green|   7459.160000000001|   388.45000000000005|                   28.0|                     14.97|           345.0700000000003|                   59.099999999999795|           8297.499999999995|                                 0.0|        1.3833333333333333|       9.540203045685288|
|         202|2021-11-01 00:00:00|       green|   2671.799999999999|               139.45|                   20.0|        28.929999999999996|          117.89999999999996|                   23.400000000000034|                     3009.73|                                 5.5|                     1.075|        8.06346153846154|
|         138|2021-12-01 00:00:00|       green|   953.7099999999999|                  5.0|                   12.0|                    188.34|          45.849999999999994|                   11.100000000000005|          1224.2499999999995|                                8.25|        1.2432432432432432|       3.962307692307693|
|          55|2021-09-01 00:00:00|       green|  22734.400000000038|    968.7000000000002|                   97.0|         555.8499999999999|           754.8499999999992|                    169.5000000000007|          25321.550000000003|                               30.25|         1.361904761904762|        577.160862676057|
|         209|2021-09-01 00:00:00|       green|   792.0100000000002|                 49.5|                    1.0|                       0.0|                       15.55|                    5.999999999999998|                      864.06|                                 0.0|                       1.0|                   9.315|
|         112|2021-06-01 00:00:00|       green|  2351.2999999999997|                75.25|                   23.5|         293.5100000000001|           58.94999999999999|                    32.10000000000005|          2897.8600000000006|                               24.75|        1.2765957446808511|       5.344766355140188|
|         264|2021-05-01 00:00:00|       green|   2451.029999999999|                39.75|                   51.5|                    151.71|                       26.91|                   48.599999999999895|           2769.500000000005|                                8.25|        1.4685714285714286|      0.4736158192090396|
|         238|2021-05-01 00:00:00|       green|             1727.66|               171.75|                   5.05|         4.300000000000001|           54.53999999999999|                   18.900000000000023|          1991.1999999999998|                                2.75|                       1.0|               6.4034375|
|         191|2021-10-01 00:00:00|       green|   7550.810000000004|                390.6|                   28.0|                      21.5|                      174.77|                    59.69999999999979|           8228.129999999994|                                 0.0|        1.0526315789473684|       2928.138844221106|
|         128|2021-11-01 00:00:00|       green|              665.49|                38.25|                    5.0|                     53.97|                         3.0|                    7.499999999999997|           786.9599999999997|                                11.0|                       1.0|      4692.9187999999995|
|         156|2021-12-01 00:00:00|       green|   5011.999999999998|                 90.5|                   17.0|                       0.0|           555.3500000000004|                   20.100000000000026|                     5694.95|                                 0.0|        1.2647058823529411|      24.289701492537304|
|         234|2021-05-01 00:00:00|       green|  1179.1099999999997|    94.79999999999998|                    0.5|                       0.0|           58.94999999999999|                    9.600000000000001|          1342.9600000000003|                                 0.0|                       1.0|              10.1196875|
|         249|2021-05-01 00:00:00|       green|  358.14000000000004|                35.75|                    0.0|                       0.0|          22.650000000000002|                   3.2999999999999994|                      419.84|                                NULL|                      NULL|       9.125454545454547|
|         243|2021-10-01 00:00:00|       green|   13752.01000000002|    483.8500000000001|                  142.0|        1032.2799999999997|           328.9000000000003|                   173.10000000000085|          16178.840000000024|                                88.0|        1.1661129568106312|       443.8262478485369|
|         151|2021-10-01 00:00:00|       green|   3113.719999999999|               243.35|                    2.5|                     34.39|          100.26999999999997|                    29.40000000000005|           3533.630000000002|                                 0.0|                       1.0|      1814.0055102040817|
|          90|2021-11-01 00:00:00|       green|             1447.16|                 97.6|                    1.5|                     21.93|          103.81999999999998|                   11.400000000000006|          1691.6600000000003|                                 0.0|                       1.0|        9.77157894736842|
|          86|2021-09-01 00:00:00|       green|  8143.9499999999925|   396.95000000000005|                   19.0|        20.080000000000002|                      299.45|                   50.699999999999875|           8930.129999999997|                                 0.0|                       1.0|      459.32479289940846|
|          28|2021-09-01 00:00:00|       green|   5258.520000000001|   339.15000000000003|                   21.0|         93.86999999999999|           210.5900000000001|                   54.899999999999835|           5983.529999999998|                                 5.5|                  1.296875|        990.949679144385|
|          54|2021-09-01 00:00:00|       green|   852.0799999999997|                 28.5|                    2.0|        127.41999999999999|                       26.85|                                  8.7|                      1064.8|                                2.75|                       1.0|       7.183103448275862|
|         180|2021-09-01 00:00:00|       green|   957.7800000000001|                58.75|                    3.0|                       0.0|          28.650000000000002|                                  9.0|          1059.1799999999998|                                 0.0|                       1.0|       751.4643333333332|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [36]:
# Write the result of the query to a new file
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')